[project]
	description = Learning Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhishek Singh (abhisheksingh23)
[access "refs/for/refs/*"]
	read = group user/Abhishek Singh (abhisheksingh23)
	push = group user/Abhishek Singh (abhisheksingh23)
	label-Code-Review = -2..+2 group user/Abhishek Singh (abhisheksingh23)
	label-Verified = -1..+1 group user/Abhishek Singh (abhisheksingh23)
	rebase = group user/Abhishek Singh (abhisheksingh23)
	removeReviewer = group user/Abhishek Singh (abhisheksingh23)
	submit = group user/Abhishek Singh (abhisheksingh23)
[access "refs/heads/*"]
	read = group user/Abhishek Singh (abhisheksingh23)
	create = group user/Abhishek Singh (abhisheksingh23)
	push = +force group user/Abhishek Singh (abhisheksingh23)
	pushMerge = group user/Abhishek Singh (abhisheksingh23)
[access "refs/tags/*"]
	push = group user/Abhishek Singh (abhisheksingh23)
	push = +force group user/Abhishek Singh (abhisheksingh23)
